@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src: url(../../fonts/lato/lato-v24-latin-regular.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Oswald";

  font-display: swap;
  src: url(../../fonts/oswald/oswald-v53-cyrillic_latin-regular.woff2)
    format("woff2");
}
