*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $base-font;
  color: $base-color;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}
