$base-color: #444444;
$second-color: #000000;
$contrast-color: #ffffff;

$base-bg: #68b738;
$second-bg: #f2f2f2;
$extra-bg: #eaeaea;

$base-font: "Lato", "Arial", sans-serif;
$second-font: "Oswald", "Arial", sans-serif;
