$base-color: #444444;
$second-color: #000000;
$contrast-color: #ffffff;
$nav-border-color: #e6e6e6;
$catalog-border: #ebebeb;
$footer-border-color: #d9d9d9;
$special-grey: #666666;
$extra-border: #cdcdcd;

$base-bg: #68b738;
$second-bg: #f2f2f2;
$extra-bg: #eaeaea;

$base-font: "Lato", "Arial", sans-serif;
$second-font: "Oswald", "Arial", sans-serif;

$desktop-width: 1260px;
$tablet-width: 768px;
$mobile-width: 767px;
