.description {
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    padding: 25px 0 58px;

    border-bottom: 1px solid $nav-border-color;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.description__title {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.description__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  counter-reset: section;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 77px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.description__item {
  position: relative;

  min-height: 60px;
  padding: 4px 0 2px 80px;

  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 123px 75px 45px 0;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $base-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;

    @media (min-width: $tablet-width) {
      top: 12px;

      width: 80px;
      height: 80px;
    }
  }

  &::after {
    position: absolute;
    content: counter(section);
    z-index: -1;
    top: 0;
    left: 116px;

    margin: 0;

    font-family: $second-font;
    font-size: 280px;
    line-height: 230px;
    color: $second-bg;

    counter-increment: section;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &--natural {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-leaf");
    }
  }

  &--water {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-water");
    }
  }

  &--food {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-eat");
    }
  }

  &--time {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-time");
    }
  }
}
