.example-list__value {
  font-size: 24px;
  line-height: 24px;
  font-family: $second-font;
  color: $second-color;
  text-transform: uppercase;
}

.example-list__field {
  font-size: 12px;
  line-height: 12px;
}
