.example-list {
  display: flex;
  flex-direction: column;
  padding: 15px 8px 18px;
}

.example-list__value {
  width: 124px;
  padding: 15px 20px;

  font-size: 24px;
  line-height: 24px;
  font-family: $second-font;
  color: $second-color;
  text-transform: uppercase;

  border: 1px solid $extra-border;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example-list__desc {
  max-width: 77px;
  margin: -10px auto 0;
  padding: 0 5px;

  font-size: 12px;
  line-height: 12px;

  background-color: $extra-bg;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }
}
