.hero {
  font-family: $second-font;
  color: $contrast-color;
}

.hero__content {
  background-image: linear-gradient(
    rgba($base-bg, 85%) 70%,
    transparent 70% 100%
  );
}

.hero__title {
  margin: 0;

  line-height: 36px; //только для мобильных
  color: $contrast-color;
}

.hero__span {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
