.page-header {
  position: relative;

  padding-bottom: 20px;

  &--index::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -2;

      background: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url(../../images/index-background-desktop@2x.jpg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
    }
  }
}

.page-header__container {
  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.page-header__menu {
  position: relative;
  z-index: 10;

  display: grid;
  align-items: start;
  padding: 13px 0 0;

  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 174px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.page-header__logo {
  margin-bottom: 14px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-header__nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 2;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: static;

    display: block;
    margin-right: 5px;

    background-color: transparent;
  }
}

.page-header__menu.is-open .page-header__nav {
  display: block;
}

.page-header__toggle {
  position: absolute;
  top: 13px;
  right: 14px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
