.page-footer {
  padding: 40px 0;

  background-color: $extra-bg;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 65px;
  }
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 140px 1fr;
    align-items: center;
  }
}

.page-footer__logo {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__social {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0 19px;

  border-top: 1px solid $footer-border-color;
  border-bottom: 1px solid $footer-border-color;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;

    border: none;
  }
}
