.page-header {
  position: relative;

  padding-bottom: 20px;

  &--index::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -2;

      background: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../images/index-background-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
    }
  }
}

.page-header__menu {
  position: relative;
  z-index: 10;

  display: grid;
  align-items: start;
  height: 65px;
  padding: 13px 20px 14px;

  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 174px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.page-header__logo {
  margin-bottom: 14px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-header__nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 2;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: static;

    display: block;
    margin-right: 5px;

    background-color: transparent;
  }
}

.page-header__menu.is-open.page-header__nav {
  display: block;
}

.page-header__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 24px;
    right: 21px;

    width: 24px;
    height: 2px;

    background-color: $second-color;
    box-shadow: 0 6px 0 0 $second-color, 0 12px 0 0 $second-color;
  }

  &:active::before {
    background-color: fade($second-color, 30%);
    box-shadow: 0 6px 0 0 fade($second-color, 30%),
      0 12px 0 0 fade($second-color, 30%);
  }

  &--opened {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      right: 21px;

      width: 24px;
      height: 2px;

      background-color: $second-color;
    }

    &::before {
      transform: rotate (45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
