.product {
  display: grid;

  font-size: 12px;
  line-height: 16px;

  grid-template-columns: 140px 1fr;

  @media (min-width: $tablet-width) {
    padding-top: 100px;

    grid-template-columns: 1fr;
  }

  &--more {
    text-align: center;

    grid-template-columns: 1fr;

    @media (min-width: $tablet-width) {
      background-color: transparent;
      border: 1px solid $second-bg;
    }
  }
}

.product__container {
  @media (min-width: $tablet-width) {
    background-color: $second-bg;
  }
}

.product__container img {
  display: block;
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    margin: -111px auto 0;
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.product__content {
  display: flex;
  flex-direction: column;
}

.product__link-content {
  display: block;
  width: 80px;

  text-decoration: none;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 135px;

    text-align: center;
  }
}

.product__title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $second-font;
  color: $second-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 127px;
    margin: 0 auto 20px;

    font-size: 20px;
    line-height: 24px;
  }
}

.product__features-item {
  display: flex;
  justify-content: space-between;
}

.product__features-field {
  display: inline;
}

.product__features-value {
  display: inline;
}

.product__button {
  align-self: end;

  grid-column: 1/-1;
}
