.program-card {
  position: relative;

  padding: 30px 20px 18px;

  background-color: $second-bg;
  background-repeat: no-repeat;

  &--slim {
    background-image: url("../../images/icons/st");
  }
}

.program-card__title {
  margin: 0 0 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $second-font;
  color: $second-color;
  text-transform: uppercase;
}

.program-card__link {
  font-size: 16px;
  line-height: 16px;
  font-family: $second-font;
  color: $second-color;
  text-transform: uppercase;
  text-decoration: none;
}
