.programs {
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding: 82px 0 71px;
  }
}

.programs__list {
  display: grid;

  gap: 20px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}
